<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325631404384-6skabf6jkgo0jtne2354t3nhuua58huc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325631404384-6skabf6jkgo0jtne2354t3nhuua58huc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325631404384-q9a9l7ei6o7uv7khme5h1j6alch9oo2e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcXmj1Lp7T6Mus0liYIafigTv2UlNyPck</string>
	<key>GCM_SENDER_ID</key>
	<string>325631404384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.kccc.prayer</string>
	<key>PROJECT_ID</key>
	<string>pray-95832</string>
	<key>STORAGE_BUCKET</key>
	<string>pray-95832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325631404384:ios:5d6eb7f4b3bcaa16459605</string>
	<key>DATABASE_URL</key>
	<string>https://pray-95832.firebaseio.com</string>
</dict>
</plist>